<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <a href="#/" class='btn btn-warning'>
      Back
    </a>
    <hr />
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h3 class='panel-title'></h3>
      </div>
      <div class='panel-body'>
        <p></p>

        <div>
          <small><span>Views: </span></small>
        </div>
        <small>
          <em>
            <span>Created By: </span>
          </em>
        </small>
      </div>
    </div>
  </div>
</div>
